<?xml version="1.0" encoding="utf-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="logdir">${sys:catalina.base}/logs</Property>
    <Property name="layout">%d{HH:mm:ss} [%t] %-5level %logger{36} ${ctx:apiversion} - %msg%n %m{lookups}</Property>
  </Properties>
  <Appenders>
    <RollingFile name="VULNAPP" fileName="${logdir}/vulnapp.log" filePattern="${logdir}/vulnapp.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${layout}"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="1 MB" />
      </Policies>
      <DefaultRolloverStrategy max="10" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="VULNAPP"/>
    </Root>
  </Loggers>
</Configuration>